<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- projectTitle %></title>

    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/proct.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="projectContainer">
        <h1 class="projectTitle"><%- projectTitle %></h1>

        <img class="projectImage" src=<%- projectImage %> alt=<%- projectAlt %>>

        <p class="projectPrice"><%- projectPrice %></p>

        <p class="projectDesc"><%- projectDesc %></p>
    </div>

    <footer class="nav">
        <div class="navBar">
            <div class="navItem">
                <a class="navLink" href="/">
                    <p class="navName">Home</p>
                    <img src="images/icon_home.svg" alt="home page icon" class="navIcon">
                </a>
            </div>
            <div class="navItem">
                <a class="navLink" href="/about">
                    <p class="navName">About</p>
                    <img src="images/icon_about.svg" alt="about page icon" class="navIcon">
                </a>
            </div>
            <div class="navItem">
                <a class="navLink" href="/products">
                    <p class="navName">Products</p>
                    <img src="images/icon_prod.svg" alt="products page icon" class="navIcon">
                </a>
            </div>
            <div class="navItem">
                <a class="navLink" href="/projects">
                    <p class="navName">Projects</p>
                    <img src="images/icon_proj.svg" alt="projects page icon" class="navIcon">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>